[2014-09-20 07:30] hueniverse opened #1 "Use joi.assert()"

[2014-09-20 07:57] #1 closed, assigned to hueniverse

[2014-09-29 17:07] arb opened #2 "100% Coverage"
Get test coverage up to 100%

[2014-09-29 18:53] #2 closed, assigned to hueniverse

[2014-10-09 18:16] hueniverse opened #3 "Change handler function to hapi 7.0 API"

[2014-10-09 18:16] #3 closed, assigned to hueniverse

[2014-10-09 20:52] hueniverse opened #4 "Change localStatePassThrough default to true"
(Should have been part of 2.0.0)

[2014-10-09 20:52] #4 closed, assigned to hueniverse

[2014-10-29 23:33] ghostbar opened #5 "Is there a way to implement this inside a handler?"
Hi, I'm looking a way to modify the payload of a request and then send it to the upstream server. After checking the implementation in `hapijs` is not too clear if I can do this without completely replacing the handler but instead doing a call to h2o2's handler inside the route handler.

Any guiding on this would be highly appreciated.

[2014-10-30 06:20] #5 closed, assigned to hueniverse

[2014-10-31 00:22] hueniverse opened #6 "Replace server maxSockets settings with per handler configuration"

[2014-10-31 00:24] #6 closed, assigned to hueniverse

[2015-04-08 20:29] nallenscott opened #10 "Test fails when installing Joi from a location other than hapijs/joi."
h2o2 v4.0.0 passes all tests when installing Joi from hapijs/joi, e.g. `"joi": "5.x.x"`:

![screen shot 2015-04-08 at 3 50 25 pm](https://cloud.githubusercontent.com/assets/11765848/7053939/0fd1acec-de07-11e4-9b91-db18886959b3.png)

---

h2o2 v4.0.0 fails a test when installing Joi from another location, e.g. `"joi": "nallenscott/joi"`. In the failed scenarios, Joi is an unchanged fork or local co

[2015-04-08 20:50] Marsup commented on #10
Indeed your fork is a 6.1.0.

[2015-04-09 01:28] #10 closed

[2015-07-17 13:21] dominykas opened #13 "Incorrect handling of http to https redirects"
I'm still debuging this, but here's what I know so far:

* I have a thing that proxies to `http://drive.google.com/uc?id=xxx`, which in turn redirects to an https URL.
* It used to work with hapi@8.6
* It doesn't work with hapi@8.8
* It works if I proxy to `https://drive.google.com/uc?id=xxx`
* Under node 0.10 the error message is `Client request error: socket hang up`, under node 0.12 the message

[2015-07-17 13:37] dominykas commented on #13
In the end, could it after all be a bug in wreck, probably related to something here: https://github.com/hapijs/wreck/pull/85?

[2015-07-17 13:47] dominykas commented on #13
End-to-end test: https://gist.github.com/dominykas/2433d5c9e9fb941c52d5

Result: 500
Expected: the image from wherever http://drive.google.com/uc?id=0B56OaK7BeVZ7ZU1pZkQtQ2R4dU0 redirects to

[2015-07-18 22:08] hueniverse commented on #13
@geek ?

[2015-07-20 22:04] kevinsimper opened #14 "How to change response headers"
Normally when you `reply(json)`, you can do `.header(key, value)` afterwards.

How can you change headers, if you respond with a `return reply.proxy()`?

Because `return reply.proxy({}).header(key, value)` does not work.

[2015-07-21 21:30] jaw187 commented on #14
@kevinsimper you can manipulate the headers in the `onResponse` function via `res.headers`.

[2015-07-22 08:19] kevinsimper commented on #14
@jaw187 Thank you!

[2015-07-22 08:19] #14 closed

[2015-07-22 19:55] geek commented on #13
@dominykas does this look like the correct test case: https://github.com/hapijs/wreck/pull/99

[2015-07-23 08:35] dominykas commented on #13
Roughly looks like it, but I'd guess it doesn't fail, does it? h2o2 uses a custom `agent` somewhere in the options - I think that's related.

[2015-07-23 16:07] geek commented on #13
@dominykas thanks, you are right about it not failing.  Let me try with a custom agent.

[2015-08-07 20:05] hueniverse opened #15 "Document reply.proxy"
### `reply.proxy(options)`

Proxies the request to an upstream endpoint where:
- `options` - an object including the same keys and restrictions defined by the
 [route `proxy` handler options](#route.config.proxy).

No return value.

The [response flow control rules](#flow-control) **do not** apply.

[code]

[2015-08-08 01:17] osukaa commented on #15
Do I add this to the README?

[2015-08-08 06:29] hueniverse commented on #15
Yep.

[2015-09-01 09:13] thomaspeklak opened #16 "Proxing changes cache-control from public to private"
I am trying to proxy an endpoint with hapi that provides a cache control header (`max-age=30, must-revalidate, public`). When I specify a simple `onResponse` handler with `reply(res)` (see below) all headers are passed correctly. Removing this handler and letting hapi do the work, results in a cache-control header of `no-cache`.

This was expected. I need to specify `ttl: "upstream"` in the route

[2015-09-01 14:34] osukaa commented on #16
Are you specifying the passThrough options? Since it defaults to false it won't pass the headers.

[2015-09-01 14:48] thomaspeklak commented on #16
Ok, this would solve the problem with the cache headers. But I do not really want to have the proxy pass all headers from the client to the upstream.

I do specify my custom headers in a mapUri, does this overwrite the passthrough option in the upstream direction?

[2015-09-01 18:16] thomaspeklak commented on #16
Shall i enhance the documentation to make this clearer? If yes, is this more a hapi or an h2o2 issue?

[2015-09-01 19:28] osukaa commented on #16
I think the documentation should be here. Send a PR :)

[2015-10-27 18:04] cudasteve commented on #13
Any update?  I think I might be hitting a similar issue with Hapi 8.8.

[2015-10-27 21:00] osukaa commented on #13
@cudasteve I released the new version of h2o2 (4.0.2) a couple of days ago with the new version of wreck.

[2015-11-02 17:19] cudasteve commented on #13
Thanks.  My issue turned out to be something else.

[2015-12-13 03:58] #13 closed

[2015-12-14 21:44] #15 closed

[2016-01-07 01:33] jasonswearingen opened #21 "How to change/remove the "accept-ranges" response header in a proxy response?"
Hi, I need to remove the "accept-ranges" header so browser's don't double-request my pages.

I try to delete this inside the ```proxy.onResponse(err,res,request,reply,settings,ttl){}```  function but it doesn't have any effect. (However I can add additional response headers)

please let me know how to do this!

[2016-01-07 02:37] jasonswearingen commented on #21
nevermind, seems to be an issue in Hapi, not h2o2.  see referenced issue above.

[2016-01-07 02:37] #21 closed

[2016-01-08 03:26] cur3n4 opened #22 "Allow payload to be parsed when proxying"
I am building a microservices api gateway which basically proxies the requests to different services.

I would like to be able to validate the request payload before proxying. This is mainly because the api gateway might accept a subset of the service payload (for example a public api gateway will allow only to submit just a few fields for a certain service, and no the whole payload).

Currently i

[2016-01-08 06:59] hueniverse commented on #22
This was requested many times and the answer is that you can simply fork this and make the changes you want. Parsing the payload defeats the purpose of this code because it requires loading everything into memory first. If you take the features you want and write your own, it will be simpler and more effective.

[2016-01-08 07:45] cur3n4 commented on #22
Understood.
However, one could argue that this request is quite close to the example in the README using onResponse and loading the whole response into memory.
Thanks for the answer anyway.

[2016-01-12 17:51] #22 closed

[2016-01-12 17:52] osukaa commented on #16
@thomaspeklak I'll close this issue and you can create a new one with a PR

[2016-01-12 17:52] #16 closed

[2016-01-28 18:56] chacliff opened #23 "sending query parameters through"
can  you explain how to proxy query parameters, or is this not supported functionality. i have passthrough: true and i'm using  mapURI

`
method: ['POST','GET', 'DELETE'], path:'/jaya/{p*}', handler: {
		proxy: {
			passThrough: true,
			mapUri: function(request, callback){
				if(request.params.p)
					callback(null, 'http://localhost:82/' + request.params.p);
				else
					callback(null, 'http:/

[2016-01-28 21:13] osukaa commented on #23
The passthrough options is for the headers. You could do something like I'm going to write next, but you could use the property `request.path` from the request object -> http://hapijs.com/api#request-object

[code]

[2016-02-01 19:54] chacliff commented on #23
i did try to use request.path. apparently query parameters don't come with hapi, what i ended up doing was request.url, which as a "search" key for query parameters which is still in the form of

`?<key>=<value>&<key>=<value`

I was just under the impression that this would be part of the built in functionality of a "proxy"

[2016-02-02 00:45] osukaa commented on #23
You could try using qs and stringifying the array of params https://www.npmjs.com/package/qs

[2016-02-05 20:28] dylancwood commented on #23
The Hapi request object has a `query` property, which you can also pass `querystring.stringify()` to get the query string:

[code]
Since the querystring is part of the URI, it makes sense that the `mapUri` function should need to explicitly set the querystring.

[2016-02-05 20:51] arb commented on #23
You should be able to get the raw query string from `request.raw`. I think it'll be under `request.raw.search`. This is a good option if you don't need to change the query string, then you don't need to try to stringify or reformat it again.

[2016-02-05 21:20] chacliff commented on #23
yep thanks guys for the help, as i was trying to allude it would be nice if it was a feature of the plugin since you can specify whether or not to include the header in the options.
something like

`server.route({
    method: 'GET',
    path: '/',
    handler: {
        proxy: {
            host: '10.33.33.1',
            port: '443',
            protocol: 'https',
            passthrough: true,

[2016-02-05 21:20] #23 closed

[2016-02-09 22:50] pushred commented on #23
It's actually in `request.url.search` for anyone else who stumbles here later.

[2016-03-18 06:51] danielb2 opened #26 "Cannot proxy if payload is parsed"
[code]

results in an error: Cannot proxy if payload is parsed or if output is not stream or data

While:

[code]
works as expected.

Is the former really considered as parsing payload?

https://github.com/hapijs/h2o2/blob/master/lib/index.js#L71

`route.settings.payload` in this context shows up as `null`

[2016-03-18 06:53] danielb2 commented on #26
I suppose it has to be because the payload _could_ be manipulated?

[2016-03-18 16:38] danielb2 commented on #26
I've thought about this some more. it seems like this should be able to be done. Looking forward to comments

[2016-03-21 21:02] danielb2 commented on #26
` config: { payload: { parse: false } }` as a route option is necessary :/

[2016-03-21 21:02] #26 closed

[2016-03-22 13:31] gergoerdosi opened #27 "Flow control rules link is broken"
In the `reply.proxy()` section: https://github.com/hapijs/h2o2#replyproxyoptions. I don't know where it is supposed to point, so just taking a note here.

[2016-03-22 13:43] mtharrison commented on #27
Not sure but maybe here: https://github.com/hapijs/hapi/blob/master/API.md#flow-control

[2016-03-26 03:38] sholladay commented on #27
When this gets fixed, I would appreciate some clarification. So those rules do not apply... what rules do apply? My assumption is that the upstream request/response cycle is initiated immediately, since `reply.proxy()` has no return value.

[2016-03-30 17:40] osukaa commented on #27
@gergoerdosi I'm sorry the mistake was to take the documentation from the hapijs doc markdown. I'll fix it! And yes, it's the link that @mtharrison mentioned. And @sholladay you're right.

[2016-03-30 18:44] sholladay commented on #27
Another way to phrase it: the docs currently say what __isn't__ happening, rather than what _is_. Thus, they are quite vague.

[2016-04-03 20:51] #27 closed

[2016-04-05 15:15] antony commented on #22
Without raising another issue, whilst I agree that having this as default behaviour defeats the purpose, it would be a really good feature to have here, since something I'm using this module a lot for (and it is perfect for it), is proxying APIs for integration tests, whereby you don't want to rewrite the entire API and have to maintain that, but simply augment the real thing with some adjusted da

[2016-04-06 16:31] danielb2 opened #30 "passing back headers after onResponse"
in the example for onResponse, we show some potential payload manipulation/logging after doing a Wreck.read.  However, what's not apparent in this example is that all the headers in the original response are lost and only the payload is passed on.

I've tried doing res.payload = payload and doing reply(res) which would have been very handy.

If only logging is done, then it's possible to do:

[cod

[2016-04-06 18:05] osukaa commented on #30
I'm not sure I'm following you with this. The original response comes in the `res` parameter of the `onResponse` callback. You could copy the headers from there.

[2016-04-06 18:09] danielb2 commented on #30
copying the headers is a  chore, and it's not mentioned in the documentation that the headers is lost when following the instructions for onResponse.

you'd basically have to iterate over all the res.headers and set them one by one. Also, the cookie header is an array and I believe would have to be treated separately.

[2016-04-06 21:17] osukaa commented on #30
I agree with you that the documentation should say that headers are lost. Besides that, you could try something like this

[code]

[2016-04-06 22:51] danielb2 commented on #30
maybe just include `reply(payload).headers = Hoek.clone(res.headers);` in the read me ? Is the `clone` part necessary?

[2016-04-06 22:57] danielb2 commented on #30
btw, `reply(payload).headers = res.headers)`
worked great. dunno why I thought anything more complicated would be needed

[2016-04-07 03:55] sholladay opened #31 "Forward proxy"
Is this plugin suitable for a forward proxy?

I ask here because I'm sure one could fudge it and get a proof of concept working, but h2o2 does not seem intended for that purpose. It would be hard for anyone on StackOverflow to correct me about that.

[2016-04-07 16:26] osukaa commented on #30
Cool! I'll update the documentation with the line `reply(payload).headers = res.headers)`

[2016-04-07 16:45] #30 closed

[2016-04-23 05:43] sholladay commented on #30
FYI, @hueniverse advised me [not to do this](https://github.com/hapijs/hapi/issues/3096#issuecomment-200696164). I'm not 100% clear on why, but I know that the `header()` function does some processing and may have a meaningful impact here.

It doesn't feel very well thought out.

[2016-04-25 18:37] osukaa commented on #30
I'm not sure what would be the best approach for this :/

[2016-04-25 20:06] danielb2 commented on #30
@hueniverse any thoughts?

[2016-04-25 22:21] hueniverse commented on #30
Why not add the headers one at a time with a proper `header()` call?

[2016-04-25 23:43] danielb2 commented on #30
What's the problem with this approach?

[2016-04-26 04:08] sholladay commented on #30
From the `header()` docs, `override` and `duplicate` both default to `true`. But `duplicate` "does not apply" for `Set-Cookie`. It _sounds_ like it won't apply multiple `Set-Cookie` headers correctly, although I have not actually tested this particular case yet.

[2016-04-26 17:24] hueniverse commented on #30
There cannot be multiple set-cookie headers. The value would be an array.

[2016-05-05 15:46] peacechen opened #33 "Accessing body POST parameters in proxy handler"
Goal: On some routes, the POST parameters need to be modified before they are forwarded.  I can access query parameters (e.g. ?param1=x&param2=y) but I haven't been able to find where the in-body POST parameters are.  Here's what I have that manipulates the query params:

[code]

How may I access and manipulate the body POST parameters?

[2016-05-05 16:06] mtharrison commented on #33
Related issue: https://github.com/hapijs/h2o2/issues/22

h2o2 doesn't buffer/parse the incoming payload so you'd have to do it yourself. Seems kind of inefficient though for a proxy though. If you can get away with encoding the info you need to make the URI decision in the HTTP head, that would be preferable.

[2016-05-05 16:13] peacechen commented on #33
Thanks for pointing out the performance hit when processing the payload.  In this application, efficiency isn't a primary concern because the calls are infrequent.
If I do decide to process the payload, how do you recommend doing so?  I looked into using Wreck but the examples show it taking the response object (not the request object).

[2016-05-05 16:34] mtharrison commented on #33
hapi will parse your payload by default when using normal handler function (`function (request, reply) { ... }`).

Just build up your URI from whatever you need in `request.payload` and then use Wreck to make a new request using that URI and pass along all the headers, payload etc from the original request. Then send the response from Wreck to the client using `reply()`.

This is what h2o2 is doin

[2016-05-05 16:43] osukaa commented on #33
Thanks for answering @mtharrison and I agree with his answer

[2016-06-07 18:56] EyePulp opened #35 "Any way to integrate with catbox?"
I'd like to be able cache (via catbox-redis) our proxied content.  I don't see a way to short-circuit the proxy route handler though.  Right now I'm using mapUri and onResponse, as we do a lot of manipulation to the proxied content.

Any suggestions?

[2016-06-30 03:08] nathanmarks commented on #13
@dominykas Did you ever debug this this? I'm having exactly the same issue, latest version of h2o2.

[2016-07-07 11:52] nathanmarks commented on #31
@sholladay Are you talking about forwarding an entire page through a proxy, including requests, images, etc... from that page?

[2016-07-07 12:16] nathanmarks opened #36 "Options pass through for Wreck"
Would it be possible to add the ability to pass options to the underlying `Wreck` module carte blanche?

[2016-07-07 13:24] mtharrison commented on #31
Guessing he meant [forward vs reverse proxy](http://stackoverflow.com/questions/224664/difference-between-proxy-server-and-reverse-proxy-server). So proxying on behalf of clients rather than servers. I don't see why h2o2 couldn't be used for that. Never tried it though.

[2016-07-07 15:38] jorgecuesta opened #37 "mapUri can't return a NON error response without call upstream"
Hi, I wanna know if you have a plan to return a reply response when some business logic detect an issue on mapUri and should return a response before send it to upstream.

I make a [fork](https://github.com/jorgecuesta/h2o2) with a possible solution, but if you have a bit of time to give me some best idea or work on it let me know to help you.

I only pass reply interface on mapUri. It have a way

[2016-07-07 16:18] mtharrison commented on #37
You could use `reply.proxy()` manually instead?

[2016-07-07 16:25] jorgecuesta commented on #37
@mtharrison no because it say

I need do something with upstream response before send it.

[2016-07-07 16:32] mtharrison commented on #37
You can give it an `onResponse` option, can you not?

[2016-07-07 16:34] jorgecuesta commented on #37
@mtharrison Thanks you are in the right path!! I have a mistake reading docs.

This work like a charm ;) Thanks again! ;)

[code]

[2016-07-07 16:37] #37 closed

[2016-07-07 21:12] sholladay commented on #31
Correct, proxying for clients, as in the proxy settings you see in your browser.

I think I would have to make a catch-all route with a handler that grabs the connection protocol, the `Host` request header, and the request path and query, and then combines those and passes it to h2o2's `uri` option. But it's not clear to me if that is even a reasonable idea.

I'm also not sure how [HTTP CONNECT tu

[2016-07-08 16:23] osukaa commented on #36
I think it could break the idea of a simple proxying plugin

[2016-07-10 01:35] nathanmarks commented on #36
@osukaa Would you be more open to adding more options on a case by case basis? For example, `beforeRedirect` is a useful option in `Wreck` when proxying.

[2016-07-20 14:00] ro-ka opened #38 "Error when using mapUri"
I register a simple proxy handler:

[code]

This leads to the following error:

[code]

As far as I found out, `h2o2` creates an options object, but `wreck` requires it to not be an object. Is this intentional?

[2016-07-21 05:11] ihorskyi commented on #13
Same issue here

[2016-07-23 20:14] panKt opened #39 "https Error: tunneling socket could not be established, cause=socket hang up"
I'm trying to implement forward proxy and it works ok for `http` requests, but for `https` it says:

[code]

Here is an example of code (node 6). Just replace
`const url   = 'http://www.example.com'`
with
`const url   = 'https://www.example.com'`
to see the error

[code]

[2016-07-27 09:23] ro-ka commented on #38
Can you give me some feedback? With this error Hapi > 9 is unusable for us.

[2016-07-27 10:12] mtharrison commented on #38
Any chance you can provide a complete example showing this problem? One that we can run to confirm the behaviour?

[2016-07-27 12:32] ro-ka commented on #38
I’ve reduced to a minimal example and found some things out. First, the test files to reproduce:

package.json
[code]

The index.js:
[code]

I installed `good` for logging. And I installed `hapi-qs` because we need it and it only breaks when this is installed.

Second thing that causes this error is this header: `Content-Type: application/x-www-form-urlencoded`. So when using `curl`, this is what

[2016-07-27 12:42] mtharrison commented on #38
It's a bug with that module. It shouldn't be parsing a payload on a route with payload parsing explicitly disabled.

[2016-07-27 12:44] #38 closed

[2016-07-27 12:45] ro-ka commented on #38
Okay, will file the issue there. Reported here as the error occurred in this module.

[2016-08-12 10:43] BhaskaranR opened #40 "How do I conditionally call a proxy server based on route params?"
[code]

[2016-08-12 17:05] osukaa commented on #40
I'm not sure if I understand your question completely, but I would just do this:

[code]

[2016-10-06 14:45] EyePulp commented on #35
Closing - the lack of response tells me this probably isn't in the cards for h2o2 - just went ahead and built a plugin w/ node-request to get the control needed.

[2016-10-06 14:45] #35 closed

[2016-10-07 21:48] #33 closed

[2016-11-05 06:37] meenie opened #47 "How to proxy EventSource requests."
I'm using EventSource on the frontend to an endpoint which uses [Susie](https://github.com/mtharrison/susie). I have a proxy sitting in between the frontend and my node app.  When Wreck (inside of h2o2) sends the request, it doesn't return anything, it just sits there with the request open.  Any tips to get this working?

[2017-01-12 10:04] jonsherrard commented on #13
If you get this issue. Log out the URL you're passing into the proxy handler. 99 times out of 100 your URL isn't correct, a missing `:` in the protocol, or an undefined `var/const` in the URL  you've buit up. Hope that helps someone!

[2017-02-22 17:41] jgallen23 commented on #35
@EyePulp how did you end up handling this?

[2017-02-22 18:58] EyePulp commented on #35
@jgallen23  I built a plain old hapijs plugin and used `node-request` (versus `Wreck`)  that does the proxying.  It was going to be a lot more work to move h2o2 in the direction I needed than to just build it directly.  The nice thing is I can add logic like only caching `200` responses, etc.

[2017-03-29 01:01] mikhailbot opened #51 "Adding Headers to request before proxying"
I'm not sure if this is possible with h2o2, but I want to proxy a request to an API that requires an API header. I don't want this sitting on the client obviously, so I want to add it to the request's headers before sending on.

Is this possible with h2o2, as I can't see where? Would I have to make changes to the `req` object as needed and then send it off with `wreck` or something before replying

[2017-04-19 14:35] jdarling opened #53 "How to add auth to the destination?"
How do you apply authorization to the outbound call?  For Basic Auth could use mapUri, but for other authorization types this seems to be overlooked (at least in the docs).

[2017-06-01 09:10] yoitsro commented on #51
Hi @mikhailbot.

Check out the mapUri function:

Directly from readme.md:
* `mapUri` - a function used to map the request URI to the proxied URI. Cannot be used together with `host`, `port`, `protocol`, or `uri`. The function signature is `function (request, callback)` where:
    * `request` - is the incoming [request object](http://hapijs.com/api#request-object).
    * `callback` - is `function (

[2017-06-14 14:04] PierBover opened #54 "How to route to a new path?"
What would be the appropriate way of proxying traffic from:

`domain.com/api/v3/something`

to

`anotherdomain.com/something`

?

I'm using this but of course h2o2 is sending the complete path to `anotherdomain.com`.

[code]

[2017-06-15 02:08] PierBover commented on #54
Ok, I figured it out.

[code]

[2017-06-15 02:08] #54 closed

[2017-06-19 15:45] osukaa commented on #53
You would have to generate the token through other means (Bearer token, for example) and add it through the `mapUri`, think like [bell](https://github.com/hapijs/bell) exposes the `request.auth.isAuthenticated`.

[2017-06-23 10:29] nico-onmap commented on #26
I am having the same problem. Adding config/payload isn't an option since I want to handle both POST/GET methods and there's no payload option in GET.

Must I duplicate my route and add the config option or is there a cleaner way to resolve this?

[2017-06-28 14:50] xycloud opened #55 "how can i get the request.payload in onResponse"
I wanna get the parsed post payload in onResponse by below:

[code]

but which is not the real post params, how can I get that in onResponse

[2017-06-29 02:53] osukaa commented on #55
I don't understand your question, the original request is the `request` parameter, so the `request.payload` was the send POST body sent before proxying to an upstream server

[2017-06-29 02:56] #51 closed

[2017-06-29 02:57] #31 closed

[2017-06-29 02:58] #40 closed

[2017-06-29 02:59] #47 closed

[2017-06-30 04:49] sholladay commented on #31
Will this be implemented? It would be very useful..

[2017-09-07 18:54] spanditcaa commented on #36
@osukaa I'm interested in something like this as well, to enforce TLS method and cipher settings.  As opposed to per request, this type of setting could be applied at plugin registration.  If that is acceptable I can work on a PR.

[2017-09-07 20:24] osukaa commented on #36
@spanditcaa yes, please go ahead and make a PR! :)

[2017-09-12 18:22] spanditcaa commented on #36
@osukaa - done in https://github.com/hapijs/h2o2/pull/57

[2017-09-13 17:10] danielo515 commented on #23
Pleas help me clarify with this,  there is no way to pass query params at the same time that you rewrite the path ?
I'm talking about something as simple as this:

[code]

As @chacliff said, I expected this kind of basic functionality on a proxy

[2017-09-13 17:19] danielo515 opened #58 "Default options do not apply when using reply.proxy(options)"
Hello,

I noticed that when you use `reply.proxy(options)` to proxy request, the options set when registering the plugin do not apply.

Here is how I register the plugin:

[code]

And here is how I use it

[code]

The settings apply if I use the `handler: { proxy : {} }` form.
Can the default options be applied also to the reply.proxy method? Is a bit uncomfortable to define all the default option

[2017-09-14 20:21] osukaa commented on #58
Yes, we had a PR to solve this merged recently! https://github.com/hapijs/h2o2/pull/57. I haven't released a version, which I'm doing later today! That will fix your problem

[2017-09-14 20:33] osukaa commented on #58
Version 6.0.1 has been published, your problem should be fixed now!

[2017-09-14 20:33] #58 closed

[2017-09-15 12:46] danielo515 commented on #58
Cool! I just put on production today my app, but I'll upgrade as soon as possible and test it out.
Thank you very much!

[2017-09-18 19:32] spanditcaa commented on #58
@osukaa I don't see 6.0.1 on npm - can you confirm ?

[2017-09-19 03:18] osukaa commented on #58
@spanditcaa hey it's now published! https://www.npmjs.com/package/h2o2 I didn't realized I published to the internal registry of the company I work for! Everything is fixed now

[2017-10-16 01:41] Samueljoli opened #59 "Defaults aren't being applied to settings before validating handlerOptions"
On server.register I'm passing default options such as `host, protocol, port`,  so one would assume that they would be set. But when I invoke `reply.proxy` I'm getting joi validation issues.

It's late so I haven't spent too much time looking at the logic, but I'd imagine this is the culprit

[code]

I think this is what we want...

[code]

[2017-11-04 00:23] hueniverse opened #61 "New maintainer"
This module needs a new maintainer to keep it up to hapi.js standards.

[2017-11-04 00:24] hueniverse opened #62 "hapi v17 support"

[2017-11-08 20:17] henrikno opened #63 "Make X-Forwarded-Port and X-Forwarded-Proto correct"
Hi,

I believe h2o2 is sending the wrong X-Forwarded-Port and X-Forwarded-Proto headers and would like to fix it since it's used by e.g. Kibana.

## X-Forwarded-Port

http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html#x-forwarded-port

Currently h2o2 is sending the client's source port, for example 43252. X-Forwarded-Port is used to determine if the client used

[2017-11-09 17:20] suyograo commented on #63
@henrikno is there a PR for this?

[2017-11-09 20:29] jessie-codes commented on #62
I'll take a stab at getting this to work with the new version and getting a PR in over the next couple days.

[2017-11-09 20:36] hueniverse commented on #62
@jessie-codes Great!

[2017-11-13 01:08] Samueljoli commented on #62
Heyy @jessie-codes I actually just opened a PR for this now. I too took a stab at this as an exercise to familiarize myself with the breaking changes of hapiv17 and didn't initially intend on opening a PR, buttt it turned out to not be soo bad. Sorry if I'm stepping your toes.

[2017-11-15 23:43] spanditcaa commented on #61
@hueniverse I'm happy to help.

[2017-11-15 23:59] hueniverse commented on #61
@osukaa Still want to maintain it? It needs some attention...

[2017-11-16 02:04] osukaa commented on #61
I don't have enough time as before! If @spanditcaa is up for it, I'll let him :)

[2017-11-16 06:48] hueniverse commented on #61
@spanditcaa you can start by reviewing PR and commenting on issues. Once you get going and ready to merge code and publish, we can get you the permissions needed and make it official.

@osukaa thanks for leading this - greatly appreciate the contribution!

[2017-11-16 17:53] spanditcaa commented on #39
The error in the example above is expected, and returned because request is attempting to establish a socket connection to https://www.example.com and there is nothing answering on port 443.  H2o2 is not a forward proxy - in your example request is not retrieving content from http://www.example.com so it is not 'working' for this scenario either.

See https://github.com/request/request#proxies for

[2017-11-16 17:54] spanditcaa commented on #53
+1, answered.

[2017-11-16 17:55] spanditcaa commented on #55
answered.

[2017-11-16 18:39] spanditcaa commented on #63
These headers don't appear to be defined by any RFC, but the docs I've found agree with your findings.  Care to submit a PR @henrikno ?

[2017-11-17 01:30] xycloud commented on #55
em.. i do some hack, close this issue

[2017-11-17 01:30] #55 closed

[2017-11-17 21:32] spanditcaa commented on #61
All reviewed @hueniverse and we can close most of the other current issues (commented in each).

[2017-11-17 22:18] hueniverse commented on #61
@spanditcaa you should have the permissions to take over, update the readme and close/merge issues. When you are ready to publish, lmk your npm account.

[2017-11-17 22:18] #61 closed

[2017-11-18 01:07] #39 closed

[2017-11-18 01:07] #53 closed

[2017-11-19 23:53] Samueljoli commented on #63
@henrikno Hey have you started on this?

@spanditcaa started looking at this today. I was thinking of opening a PR off of my `hapiv17` branch. What do you think about asserting against a `x-forwarded-header` schema, that would only accept `x-forwarded-for` and `x-forwarded-host`. And disallow `port` & `proto` since those should be set by `request.server.port` & `request.server.protocol`?

My only

[2017-11-20 16:25] spanditcaa commented on #61
Thanks @hueniverse -- I'm sanpan on npm.

[2017-11-21 03:35] hueniverse commented on #61
@spanditcaa done.

[2017-11-26 04:48] spanditcaa commented on #63
@Samueljoli I have started on this, I was going to merge it into pre-v17 so people still running <17 can have the feature.  I've been spending more time in the kitchen than in front of a keyboard these last few days.  I'll get it merged in ahead of your v17 branch early this week.

[2017-11-26 16:25] Samueljoli commented on #63
@spanditcaa No problemo!

[2017-11-26 23:40] #59 closed

[2017-11-27 20:27] spanditcaa commented on #62
merged.

[2017-11-27 20:27] #62 closed

[2017-11-27 21:22] spanditcaa commented on #36
Closing - specific passthrough features will be supported on a case by case basis.  Please open a PR if any additional option is desired.

[2017-11-27 21:22] #36 closed

[2017-11-27 21:24] spanditcaa commented on #63
@Samueljoli - I don't think port and proto should be always set by request.server.port/protocol -- if we are not the first proxy in a chain the headers may already exist, and if so we should honor the header values we received as they indicate what the client originally requested.  Appreciate your input.

[2017-12-01 01:25] BertHartm opened #65 "mapUri mis-setting server name for SNI"
We're using h2o2 to act as a reverse proxy and forward some requests, but we found we needed to filter out some headers on the request, so we moved from the `uri` parameter to the `mapUri` parameter.

After pulling out the packet sniffer, it seems like when we switch to `mapUri`, the request is being made with `localhost` as the server name during the TLS setup / SNI stage. This does not appear to

[2017-12-01 18:33] spanditcaa commented on #65
@BertHartm can you post a sample repro ?

[2017-12-02 15:16] Samueljoli commented on #63
@spanditcaa I agree

[2017-12-04 16:24] spanditcaa commented on #63
@Samueljoli do you want to do this one after all -- get you on the contributor list where you belong ?

[2017-12-06 05:03] Samueljoli commented on #63
@spanditcaa Hey I can pick this up, I believe you started on this tho, no?

[2018-01-11 20:48] davidjamesstone opened #70 "Invalid number of arguments to Joi.object.without()"
I noticed a bug.

Joi.object.without() expects 2 args not [3](https://github.com/hapijs/h2o2/blob/master/lib/index.js#L50)

This [may](https://github.com/hapijs/joi/pull/1394#issuecomment-356991804) [throw an error](https://github.com/hapijs/joi/pull/1395) in the future.

[2018-01-11 20:53] #70 closed

[2018-01-29 07:21] spanditcaa commented on #65
3 months have passed @BertHartm, if you'd like some effort put by others towards your issue then posting an example of how to repro would go a long way.

[2018-03-16 09:17] icepoint0 opened #72 "proxy server doesn't receive the post params."
when i set hapijs's request proxy the request to my proxy server,my proxy server never receive the params ,why ?

here is the code

[2018-03-19 22:21] spanditcaa commented on #72
I'm unable to reproduce this.  If I run two hapi 16 servers, one with your route and the other with

[code]
The response from a proxied request to ````/atyun/doesThisWork?work=true```` is:
[code]

Can you provide any additional information about your configuration?

[2018-03-20 07:49] icepoint0 commented on #72
i have fixed this, Must add the payload config

[code]

[2018-03-20 08:20] #72 closed

[2018-04-04 07:50] mkozjak opened #74 "There is no onRequest handler on branch 6.x"
Hi,

There is no onRequest handler on branch 6.x like the docs on 6.x say.

[2018-04-04 15:37] spanditcaa commented on #74
Hi @mkozjak -- it has been there for two years - https://github.com/hapijs/h2o2/blame/6.x.x/lib/index.js#L187

[2018-04-05 08:25] mkozjak commented on #74
@spanditcaa: True! Failed to see there are more 6.x versions pushed to npm.

[2018-04-05 08:25] #74 closed

[2018-04-21 17:04] #65 closed

[2018-04-23 12:37] palmerjc opened #77 "Batching h2o2 request with bassmaster yields timeout/504"
I am using the h2o2 module to proxy calls to an external web service and the individual service works just fine. However, when I try to batch several of these calls together I end up getting a 504 error for each request. Looking for any guidance as to why proxy request might have issues with Bassmaster (https://github.com/hapijs/bassmaster).

[2018-04-23 21:27] spanditcaa commented on #77
Hi @palmerjc - hapi 17/latest h2o2 and bassmaster ?

[2018-04-23 22:03] palmerjc commented on #77
Hi @spanditcaa - thank you for the prompt reply.

I am using hapi 17.3.1, h2o2 8.0.1, and bassmaster 3.1.1.  I can provide you my endpoint definitions but can't provide a repo because of security for the service we are proxying.

This is my non-batch endpoint:

            {
                method: 'GET',
                path: '/license/v3',
                options: {
                    auth: 'jw

[2018-04-23 22:51] spanditcaa commented on #77
Yes @palmerjc - I'll check it out.

[2018-04-24 22:57] palmerjc commented on #77
@spanditcaa come across anything yet?

[2018-04-25 23:09] spanditcaa commented on #77
@palmerjc I haven't nailed it down yet, but the problem has something to do with setting passThrough:true.  I expect you need headers to pass through for your scenario for authentication.

[2018-04-25 23:32] #77 closed

[2018-04-25 23:36] spanditcaa commented on #77
@palmerjc the problem with content-length is resolved with h2o2 8.1.1 -- let me know if your issue continues, there could be another header in your specific case that causes a conflict.

[2018-04-26 01:45] palmerjc commented on #77
@spanditcaa - thanks for the update, the batch request seems to go through now but I get garbage back (almost like it isn't honoring my content-type of application/json).  Thoughts as to why this would be?

![image](https://user-images.githubusercontent.com/13563242/39281327-f68b22b6-48d1-11e8-86d7-dffca7403c24.png)

[2018-04-26 02:03] palmerjc commented on #77
Another view from the response object showing headers:

![image](https://user-images.githubusercontent.com/13563242/39281803-81b09cde-48d4-11e8-9dfb-c4704a8bd236.png)

[2018-04-26 02:11] palmerjc commented on #77
Turns out I need to specify the following request header:

![image](https://user-images.githubusercontent.com/13563242/39281992-877f1d06-48d5-11e8-8a9a-d294e79da7bd.png)

Don't seem to have to do this for regular calls to the single (non-batch) endpoint.

Thanks again for the fix you put in, it is a big help to be able to run these requests as a batch.

[2018-04-26 02:28] spanditcaa commented on #77
That is interesting @palmerjc.. take a look at the accept-encoding that is being sent by the bassmaster request.  I'm curious if nothing is being passed so your final endpoint is defaulting to its native SOAP with some encoding, where the proxy route with passthrough is passing along a more specific browser accept-encoding which includes application/json.

[2018-04-26 03:06] palmerjc commented on #77
The request coming into '/license/v3/batch' endpoint has gzip Accept-Encoding (which is odd) because calling the single endpoint the Accept-Encoding (inspected in the mapURI method) shows application/json.

[2018-04-26 03:50] spanditcaa commented on #77
You've found a puzzle.  I don't see 'gzip' in h2o2 or bassmaster.

@palmerjc cc:@cadecairos if you all want to dig further I'm always in for a puzzle, otherwise it looks like your use case is resolved and we can leave this closed.

[2018-04-26 15:16] cadecairos commented on #77
I wonder if this has something to do with how Bassmaster injects requests. I don't have the time today to investigate, but if a bug is opened on the bassmaster repo I'll get to it in the future.

[2018-04-26 17:01] ggoodman commented on #77
This is breaking non-injected requests. I'm seeing my static assets being truncated.

[2018-04-26 17:10] spanditcaa commented on #77
@ggoodman can you provide a failing test ?

[2018-04-26 17:10] spanditcaa opened #78 "static assets truncated"

[2018-04-26 17:11] spanditcaa commented on #77
https://github.com/hapijs/h2o2/issues/78

[2018-04-26 18:15] ggoodman commented on #78
I've done some local testing and it seems I may have been attempting something that is unsupported by this tool. I was attempting to set a cookie value using hapi's facilities based on the presence of a specific query parameter.

I have not had the chance to look into why this was resulting in static assets appearing to be truncated but I don't think that `8.1.1` introduced this issue.

[2018-05-02 23:29] spanditcaa commented on #78
Feel free to reopen if you still experience this with 8.1.1.  I'm assuming the scenario above and haven't been able to reproduce the issue with the latest h2o2.  Modifying the proxied request without modifying a content-length header would yield truncated payloads and seems the likely cause of your issue.  This is no longer possible in h2o2 using passthrough as we are removing content-length heade

[2018-05-02 23:29] #78 closed

[2018-06-17 11:57] karanmartian opened #80 "Call an external API and then continue with processing"
Hi,
Can this be used such that in the handler i call an external api and continue in the handler without waiting for a response from that external api. Basically just want to dump some data through an external api without having the handler wait for any response

[2018-06-25 22:31] spanditcaa commented on #80
H2O2 is designed specifically for reverse proxy scenarios.  If you just want to call an external API from a handler and discard the response, take a look at https://github.com/hapijs/wreck.

[2018-06-25 22:31] #80 closed

[2018-08-06 08:55] guenogu opened #81 "Wreck instrumentation"
Hi,

We have currently an API platform based on HapiJS (v16.5.2), using good (v7.3.0) and wreck (v10.0.0).
This stack allows use a lot of logs based on good and the support of wreck events.
So the monitoring/instrumentation is ease.

With the lastest version, the wreck event are no more supported from hapi/good (https://github.com/hapijs/good/issues/568).

Do you thinks it's possible to expose the

[2018-08-06 22:36] spanditcaa commented on #81
Sure - can you prepare a pull request ?

[2018-08-15 14:44] nlemoing opened #82 "onResponse - Does h2o2 still use the reply interface?"
In the Readme, the `onResponse` function has the signature `(err, res, request, reply, settings, ttl)`, with `reply` being the reply interface function. Hapi v17 doesn't have this interface anymore and instead uses `h`, the response toolkit.

[2018-08-16 00:13] spanditcaa commented on #82
updated readme.md.

[2018-08-16 00:13] #82 closed

[2018-08-16 19:12] nlemoing opened #83 "Can't proxy options requests"
h2o2 is unable to proxy any requests with method "OPTIONS"

Steps to reproduce:

Register a route with the following settings:
[code]
Run the server and make an "OPTIONS" request to the path specified.
Receive the error message:
`AssertionError [ERR_ASSERTION]: Cannot proxy if payload is parsed or if output is not stream or data
    at Object.internals.handler (/var/bonfire-api/node_modules/h2o2/l

[2018-08-21 20:07] nlemoing commented on #83
As a follow up to this, Hapi will handle pre-flight `OPTIONS` requests as part of `CORS` if you don't specify a handler for it. The catch with this is that you have to specify the `additionalHeaders` field yourself.
One solution I found to this problem was to use Wreck to manually proxy `OPTIONS` requests, bypassing h2o2 entirely. However, I think it would be beneficial for h2o2 to add support for

[2018-09-08 18:18] adisingh007 opened #85 "README.md has markdown errors and a broken link for SSL_METHODS"
The link for SSL_METHODS in readme.md is broken.

[2018-09-08 23:49] #85 closed

[2018-09-27 14:11] DevSide commented on #30
Personally, I mutate res.headers

[code]

[2018-11-11 08:17] hueniverse commented on #81
@guenogu planning on submitting a PR?

[2018-11-11 08:19] hueniverse commented on #83
@spanditcaa are you planning to address this issue?

[2018-11-13 17:53] spanditcaa commented on #83
Yes @hueniverse - I'll have time next week, or @nlemoing we'd certainly take a PR for this issue.

[2018-12-17 23:34] cdaringe opened #87 "feature request: upstreamPassThrough only"
# problem

`passThrough` passes through bi-directionly.  `localPassThrough` passes state from local => upstream.  i need the inverse of `localPassThrough`

# discussion

is something you'd be willing to support?

perhaps the API could be simplified to `passThrough = 'downstream' | 'upstream' | 'bidirectional'` or something similar?

[2018-12-17 23:52] spanditcaa commented on #87
I'm open to it.  @hueniverse you wrote the original passthrough vs. localstatepassthrough in 2014 -- any input as to why they are treated separately ?

[2018-12-19 19:04] spanditcaa commented on #87
@cdaringe care to put together a PR ?  We'd deprecate localstatepassthrough so this would be a semver major change.  I prefer ```` passThrough:  {downstream: true, upstream: true} ````

vs. strings

[2019-01-21 10:27] kanongil opened #88 "Update for hapi 18"
It needs to handle URL objects:

https://github.com/hapijs/h2o2/blob/905e5273c6aca184a663368390ba5bb2ed05bc10/lib/index.js#L230

See https://github.com/hapijs/hapi/issues/3871 for details.

[2019-01-23 03:40] tsantef opened #89 "Call settings.mapUri with `h` as the second argument"
I have a use case where mapUri cannot be completed and need to call `h.unstate` from my mapUri handler. Would it be possible to pass in `h` along with the request? I tried this by editing the file in node_modules and it worked perfectly for my needs.

https://github.com/hapijs/h2o2/blob/905e5273c6aca184a663368390ba5bb2ed05bc10/lib/index.js#L87

For symmetry, I would also include h to calls to onRe

[2019-01-23 09:04] kanongil commented on #89
That seems inappropriate. A map function should not have side-effects, and the other features of `h` does not make sense in that context.

[2019-01-23 15:57] tsantef commented on #89
@kanongil that's a fair point about mapUri. I'll see if I can do what I need with the route's `pre` option.

[2019-01-23 18:42] #89 closed

[2019-02-07 10:50] Rainson12 opened #90 "Proxy WebSocket protocol"
I am currently using HAPI with the plugin 'hapi-plugin-websocket' to be able to serve websockets. The serving of the websocket requests will be done in microservice other than the main public api therefore i need to proxy the ws requests from the public api to the websocket api but it seems like h2o2 is currently only able to serve http/https requests. Is there any chance to extend the proxy forwa

[2019-02-20 01:44] jackbravo commented on #87
@cdaringe could you provide a test case or example of how you expect this to work?

[2019-02-20 03:13] cdaringe commented on #87
hey guys.  want to contribute, but overcommitted.  i moved on from this.  feel free to close.  will reopen if i find the time/motivation to pursue further

[2019-02-20 03:14] jackbravo commented on #87
I ask because if you see PR #91, you can see there are no tests covering this setting.

[2019-03-21 21:20] spanditcaa commented on #87
per above, closing.

[2019-03-21 21:20] #87 closed

[2019-03-21 21:27] #88 closed

[2019-03-21 23:33] spanditcaa commented on #90
Happy to take a PR @Rainson12

[2019-03-27 19:44] tuckbick opened #92 "Provide option to allow for a custom http-client that abides by the Wreck interface"
The large enterprise company that I work for currently uses an http-client that wraps Wreck. Our wrapper allows us to extend the functionality of Wreck (metric collection, authentication, tracing, etc).

Proposal: In order to use `h2o2` with our wrapped version of `Wreck`, enable `h2o2` to accept an `httpClient` option. The value/library passed to this option would have to abide by the same interf

[2019-03-27 19:54] spanditcaa commented on #92
Sure @tuckbick - please prepare a PR including updated docs requiring the wreck interface.  Are you on hapi 17+ only or will there be a 16.x and 17+ version?

[2019-03-27 22:09] tuckbick commented on #92
Excellent! Thank you for the quick feedback. Within our organization we're only supporting hapi 17+.

[2019-03-28 16:47] spanditcaa commented on #81
This would be supported by #92 -closing as superceded @guenogu

[2019-03-28 16:47] #81 closed

[2019-04-09 22:29] #92 closed

[2019-04-13 22:21] hueniverse commented on #83
Setting route options `payload: { parse: false }` should fix it.

[2019-04-13 22:21] #83 closed

[2019-04-13 22:21] hueniverse commented on #90
This is beyond the scope of this module.

[2019-04-13 22:21] #90 closed

[2019-04-13 22:22] hueniverse opened #94 "Change module namespace"

[2019-04-13 22:23] hueniverse opened #95 "Move agents from internals to server"

[2019-04-13 22:24] #94 closed

[2019-04-13 22:24] #95 closed

[2019-04-22 16:31] mgartner opened #96 "Add a way to catch TypeError thrown by outgoing request passing through invalid header"
If `passThrough` is enabled, and a user sends an invalid header ("invalid" according to `_http_outgoing.js` [here](https://github.com/nodejs/node/blob/v7.6.0/lib/_http_outgoing.js#L361) and [here](https://github.com/nodejs/node/blob/v7.6.0/lib/_http_outgoing.js#L368)), a TypeError will be thrown. As far as I can tell, there is no way to handle this error in a callback in h2o2, which makes it impos

[2019-04-22 17:20] hueniverse commented on #96
Which version of h2o2 are you using?

[2019-04-22 20:05] mgartner commented on #96
5.4.0

[2019-04-23 00:43] hueniverse commented on #96
I need to check if this is still an issue with the current version, but I am unlikely to backport a fix to the older versions since they are no longer supported. You are probably better off forking and using a modified version that solves it for you.

[2019-04-23 16:05] mgartner commented on #96
Ya I wouldn't expect you to backport. But it doesn't look like the current version provides a way to handle this. But I only tested on 5.4.0.

[2019-04-23 19:57] hueniverse commented on #96
hapi >= v17 has better handling of invalid headers (which is also why its having problems in node v12...).

[2019-07-17 18:46] torloneg opened #97 "mapUri : Failed to load h2o2"
I'm trying to use mapUri to set an element in the header but the process comes out without a particular error. Removing the block the code runs

The error is :

node -v
v12.6.0

'handler': {
                'proxy': {
                    mapUri: function (request) {

                        console.log('doing some additional stuff before redirecting');
                        return {

[2019-07-18 07:11] #97 closed

[2019-08-11 22:23] x4080 opened #98 "cannot npm install @hapi/h202"
Hi, I cant seems to npm install this proxy, any recommendation for other package ?

[2019-08-11 22:56] dominykas commented on #98
Are you installing @hapi/h2o2? In the subject you have 0 (zero), not an o (letter).

[2019-08-11 23:38] #98 closed

[2019-08-12 22:37] x4080 commented on #98
Ah, my mistake, sorry

[2019-08-12 23:19] x4080 opened #99 "Question : pipe vs h2o2"
Hi, I wondered if proxy in h2o2 is the same as in express using pipe ? Since I tried to migrate my express server with proxy using pipe, now using h2o2, and I found that if there's 2 requests or more via h2o2 proxy at the same time, it will only pass the 1st one ?

I'm not sure what really happened but in express with pipe, it works fine but cannot work with h2o2 (missing request)

Thanks

[2019-08-13 00:11] hueniverse commented on #99
IIRC, express pipe is just a stream pipe and has nothing to do with proxying. If you pipe the stream you get from a `request` call, it is a semi-proxy.

[2019-08-13 02:12] x4080 commented on #99
Thanks for helping me out, this is my code in express, how can we do the same thing in hapi ?

[code]

[2019-08-13 08:41] hueniverse commented on #99
In hour route handler just use path `/api2/{path*}`

[code]

Basically, in hapi you can just return a readable stream and it will do the rest for you.

More about path parameters: https://hapi.dev/api/?v=18.3.1#path-parameters

[2019-08-13 08:41] #99 closed

[2019-08-13 22:09] x4080 commented on #99
Hi, I tried this solution before, and when I tried it again it shows this :
[code]

[2019-08-14 03:26] hueniverse commented on #99
I haven't used request in years so not sure how to get the response stream from it vs the write stream. I don't have the time to go and figure out how to use it. I would suggest you use the wreck module instead. Request is not really a valid choice in async/await setup.

[2019-08-14 03:38] x4080 commented on #99
Thanks, I'll try that

[2019-08-14 06:02] greenkeeper[bot] opened #100 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 21:59] #100 closed

[2019-08-14 22:23] hueniverse opened #101 "Update deps"

[2019-08-14 22:25] #101 closed

[2019-09-12 23:50] hueniverse opened #102 "Update joi"

[2019-09-13 06:06] #102 closed, assigned to hueniverse

[2019-09-26 03:08] datvong-wm opened #103 "onResponse return value?"
According to the documentation:

It is not clear what onResponse should return.  In this example, it doesn't return anything.
[code]

[2019-09-26 03:30] hueniverse commented on #103
It's an override. Whatever it returns will be the return value of the handler.

[2019-09-26 09:19] kanongil commented on #103
The example from the docs is wrong though. It just returns `undefined` and performs some non-sensical async operation. As it is, H2o2 doesn't support any kind of async response handling. Maybe it should `await` the result of the `onResponse()` call?

[2019-09-26 16:50] datvong-wm commented on #103
So in this example, it should return Wreck.read()?

[code]

[2019-09-26 17:20] datvong-wm opened #105 "onResponse proxy is not closing connections?"
Using Hapi@17.8.4, h2o2@8.1.2.  Create a simple proxy below, using onResponse.

[code]

When I hit my /test route, it keeps the proxy connects alive.  When I look at the open file handles, it shows the connections in CLOSE_WAIT state.
And looking at the memory profiler, the memory used by the process balloons with every request.
![Screen Shot 2019-09-26 at 10 17 42 AM](https://user-images.githubus

[2019-09-26 19:43] hueniverse commented on #105
It's an override and it is your responsibility to clean things up since the plugin doesn't know what you are doing with the streams.

[2019-09-26 22:00] datvong-wm commented on #105
For anyone getting this issue.  Fix is to close res().

[code]

[2019-10-25 13:46] allaf opened #107 "how to proxy SSE event-stream requests ?"
####
* *environment* : node
####
I have a node app that uses hapi and h2o2 and I want it to proxy GET requests (coming from the browser) to a sse service.

I tried just `proxy` and `passThrough: true` and let it handle everything but it doesn't work.
The request is never solved and keeps a pending state.

[code]

 also tried with  :
[code]
but it doesn't work either.

thx for your help

[2019-11-19 12:33] goxr3plus commented on #51
Can we have a new example for version `8.3.2` ?

The below doesn't work for me

[code]

@yoitsro
@osukaa

[2019-11-19 12:35] goxr3plus opened #108 "Adding Headers to request before proxying "Version 8.3.2""
Can we have a new example for version `8.3.2` ?

The below doesn't work for me

[code]

[2019-11-19 12:36] goxr3plus commented on #108
@hueniverse

[2019-11-19 14:06] goxr3plus commented on #108
Actually i found out how it works it's like :

let { headers } = request
delete headers.host
headers.retailerId = '101010'
headers.terminalId = '10101001'
return {
 uri: `${service.hostname}:${service.port}${service.apiBase}/terminal-reports/date-range-summary${request.url.search}`,
 headers,
}

[2019-11-19 14:06] #108 closed

[2019-12-04 08:46] allaf commented on #107
up

[2020-01-07 08:42] hueniverse commented on #107
Unfortunately, no community resources were available to help resolve this issue after two weeks, and it is being closed. We close unresolved community issues to keep the issue tracker organized and effective. Please check https://hapi.dev/support for other support options.

[2020-01-07 08:42] #107 closed

[2020-01-12 06:14] hueniverse opened #110 "Only node 12"

[2020-01-12 06:15] hueniverse opened #111 "Drop hapi v17"

[2020-01-12 06:16] hueniverse opened #112 "Change plugin name to @hapi/h2o2"

[2020-01-12 06:17] #110 closed

[2020-01-12 06:17] #111 closed

[2020-01-12 06:17] #112 closed

[2020-01-12 08:16] hueniverse opened #113 "Require hapi 19"

[2020-01-12 08:17] #113 closed

[2020-02-04 18:17] pgangwani opened #114 "Invalid template variable "#label" fails due to: Formula is not a constructor"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: v12.3.1
* *module version with issue*: 9.0.1
* *last module version without issue*: 8.3.0
* *environment* (e.g. node,

[2020-02-04 19:52] Marsup commented on #114
Looks like you've got a bad install, do you have a lock file messing things up ?
Can you show the result of `npm ls @hapi/formula` ?

[2020-02-04 20:15] pgangwani commented on #114
@Marsup

[code]

[2020-02-04 20:21] Marsup commented on #114
I'm surprised it didn't help *you*, I mean it's all written right there :joy:
h2o2 9.0.1 should have a joi 17 which in turn should have a formula 2. I don't know what you did but you have to reinstall your deps properly.

[2020-02-04 21:40] pgangwani commented on #114
@Marsup hehe, yes I can relate your feeling.  😂
Bdw its resolved by deleting node_module & lock file and then ```yarn install``

[2020-02-04 21:40] #114 closed

[2020-03-05 19:23] abhagupta opened #115 "Add validation to the request payload"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*:
* *module version*:
* *environment* (e.g. node, browser, native):
* *used with* (e.g. hapi application, another framew

[2020-03-12 03:39] hueniverse commented on #115
You can set any validation rules you want on the route like any other route.

[2020-03-12 03:39] #115 closed

[2020-03-31 09:18] antony commented on #103
I've just run into this too.

`@hapi/wreck` now supports async/await, and h2o2 won't return a value if you use the callback syntax, even if you add `return` onto the front of it. You need to use the async/await syntax.

just a doc update for the new `wreck`, I'll do it once I've got my syntax working 100%.

[2020-03-31 09:22] antony opened #116 "Proxy validation allows invalid combination of keys."
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise):

Community

* *is this issue currently blocking your project?* (yes/no):

No

* *is this issue affecting a production system?* (yes/no):

No

#### Context

* *node version*: 13.5.0
* *module version with issue*: 9.0.1
* *last module version without issue*: 9.0.0
* *environment* (e.g. no

[2020-05-15 19:14] hueniverse commented on #116
It is not about `onResponse` and `uri` but about the combination of `onResponse`, `mapUri`, and `uri`. It is listed in a specific section, not in the options definitions.

[2020-05-15 19:14] #116 closed

[2020-05-15 19:16] #103 closed

[2020-05-26 17:59] aancer-rca opened #118 "httpClient type not yet present in @types/hapi__h2o2?"
#### Context

* *node version*: 12.16.2
* *module version*: `"@hapi/h2o2": 9.0.1` with  `"@hapi/hapi": "^19.1.1"`
* *environment*: node
* *used with*: Hapi framework, TypeScript

#### How can we help?

Hi,
I'm trying to use the httpClient within hapi's h2o2 proxyHandler. However, I'm noticing that the httpClient type is not present in the @types/hapi__h2o2 package at https://www.npmjs.com/package/

[2020-05-26 20:54] hueniverse commented on #118
You need to open this issue in the @types repo.

[2020-05-26 20:54] #118 closed

[2020-11-25 21:18] brianjmiller opened #123 "Pass `h` or similar to `mapUri` and `onRequest` for server settings/configuration access"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: v14.15.1
* *module version*: 9.0.2
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi application
* *any other relevant information*:

#### W

[2020-11-25 21:20] brianjmiller commented on #123
Seems https://github.com/hapijs/h2o2/issues/89 is a duplicate, but was requested for a different reason. As mentioned I don't necessarily need all of `h` it just seemed the obvious place to start.

[2020-11-27 14:25] Nargonath commented on #123
From what I can see [here](https://github.com/hapijs/h2o2/blob/bae468bc66ab18608d2c1f9c1a7291f4e830d146/lib/index.js#L92) the request object is the one from hapi and not Wreck. This function is an handler body as you'd do it when developing your own endpoint. If you add values to `server.app` you should be able to retrieve them in `mapUri` through `request.app`.

Regarding `onRequest` it does inde

[2020-12-02 15:44] brianjmiller commented on #123
Thanks for the response. I'm not sure why I conflated the request to `mapUri` and to `onRequest` as both being Wreck requests. Your comment helped me to understand the overall flow better. I also don't know why my output for trying to see the values from `request.app` didn't work as trying again this morning I'm able to pull the config from `request.server.app` that I need in `mapUri`.

I think ul

[2020-12-02 15:44] #123 closed

[2020-12-03 09:13] Nargonath commented on #123
You're welcome. I'm glad I could help you.

Be aware that `request.server.app` is read-only whereas `request.app` is read/write: https://hapi.dev/api/?v=20.0.3#-requestapp

[2020-12-03 10:13] kanongil commented on #123
`request.server.app` is read/write as well, but you can't use it to store request-specific state.

[2020-12-04 09:09] Nargonath commented on #123
I based my explanation on the documentation on the website: https://hapi.dev/api/?v=20.0.3#-requestserver. Is it the server object itself that is read-only but the property `app` is not or just an error in the documentation?

[2020-12-04 09:53] Nargonath commented on #123
I took a look at the codebase and you're right, it seems that the `request.server` object is not truly read-only. Does it mean the documentation is just to stir people away from modifying `request.server.app` from their handler or other method accessing the `request` object without technically enforcing it?

[2021-01-05 02:49] FrankHassanabad opened #124 "Cannot use a body with DELETE proxy method when passThrough is set to true"
#### Support plan

* *is this issue currently blocking your project?* (no):
* *is this issue affecting a production system?* (no):

#### Context

* *node version*: 14.15.3
* *module version with issue*: 9.0.2
* *last module version without issue*: I don't know but I do know the commit when this was added which is https://github.com/hapijs/h2o2/commit/7988c2dd1774be7541b3b54b4fd3ebf860323e82
* *env

[2021-05-05 09:21] akdj opened #126 "How to make load balancing proxy ?"
Hi
I'm using hapi with H2O2 to implement a  Nodejs proxy service that redirect some specific requests to another service, but I don't know how to make it load balancing. Is it possible de make it with H2O2 plugin?

[2021-05-05 12:05] devinivy commented on #126
That's an interesting question.  It's not specifically a feature of h2o2, but I think you could achieve it.  One way you might approach is this using the [`mapUri`](https://hapi.dev/module/h2o2/api/?v=9.0.2#using-the-mapuri-and-onresponse-options) option to choose a host from a list for each request.

[2021-05-07 13:26] Nargonath commented on #126
You'll have to develop yourself the whole logic though: selection algorithm (round-robin or whatnot), determining which host is suitable for traffic load etc. IMO you'd better be using a dedicated tool for that such as [Traefik](https://doc.traefik.io/traefik/routing/overview/).

[2021-11-04 14:57] #126 closed

[2021-12-06 10:25] akdj opened #129 "some options are not defined in typescript"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: v16.6.2
* *module version*: 9.1.0
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi application
* *any other relevant information*:

#### Wh

[2021-12-06 13:53] kanongil commented on #129
Hapi does not provide types for h2o2, or control the quality. You need to reach out to DT.

[2021-12-06 13:53] #129 closed

[2021-12-07 09:58] akdj commented on #129
ok, thank you

[2021-12-10 16:54] a-wf opened #130 "Cannot retrieve the payload with request.payload in onResponse and mapUri"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: v16.6.2
* *module version*: 9.1.0
* *environment* (e.g. node, browser, native): node, typescript
* *used with* (e.g. hapi application, another framework, standalone, ...): a hapi application
* *any other relevant informat

[2022-10-07 12:57] ethorz commented on #124
I have same problem, but DELETE method with body don't work with/without passThrough property.

[2022-10-16 19:53] #124 closed